    /*
    Flaticon icon font: Flaticon
    Creation date: 12/03/2019 16:53
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff2") format("woff2"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-quote:before { content: "\f100"; }
.flaticon-maps-and-flags:before { content: "\f101"; }
.flaticon-youtube:before { content: "\f102"; }
.flaticon-instagram:before { content: "\f103"; }
.flaticon-phone-receiver:before { content: "\f104"; }
.flaticon-checked:before { content: "\f105"; }
.flaticon-add:before { content: "\f106"; }
.flaticon-menu:before { content: "\f107"; }
.flaticon-checkmark-icon:before { content: "\f108"; }
.flaticon-star:before { content: "\f109"; }
.flaticon-play-button:before { content: "\f10a"; }
    
    $font-Flaticon-quote: "\f100";
    $font-Flaticon-maps-and-flags: "\f101";
    $font-Flaticon-youtube: "\f102";
    $font-Flaticon-instagram: "\f103";
    $font-Flaticon-phone-receiver: "\f104";
    $font-Flaticon-checked: "\f105";
    $font-Flaticon-add: "\f106";
    $font-Flaticon-menu: "\f107";
    $font-Flaticon-checkmark-icon: "\f108";
    $font-Flaticon-star: "\f109";
    $font-Flaticon-play-button: "\f10a";